<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat Application</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="http://localhost:5000/socket.io/socket.io.js"></script>
    <script defer src="script.js"></script>
</head>
<body>
    <div id='container'>
        <h1> CHAT BOX </h1>
        <div class="message right">Hello</div>
        <div class="message left">Hiii</div>
    </div>
    <div>
        <form action="#" id="send-container">
            <input type='text' id="message-input" placeholder="Enter you message here..."></input>
            <button type="submit" class="button">Send</button>
        </form>
    </div>
</body>
</html>